.App h1 {
  font-size: 70px;
}

.ArticleListing {
  margin: 0 auto;
  max-width: min(80%, 1080px);
  padding: 0 25px;
}

.ArticleListing h1 {
  font-weight: normal;
}

.ArticleCard {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  margin: 30px 0;
  padding: 25px 30px;
}

.ArticleCardImage {
  flex-basis: 30%;
  padding-right: 30px;
}

.ArticleCardImage img {
  height: auto;
  width: 100%;
}

.ArticleCardText {
  flex-basis: 70%;
}

.ArticleHeaderWrapper {
  background-color: #e5e5e5;
  background-size: cover;
  background-position: center;
  margin-bottom: 55px;
  padding-bottom: 25px;
  padding-top: 65px;
}

.ArticleHeader {
  margin: 0 auto;
  max-width: min(80%, 600px);
  padding: 0 10px;
}

.ArticleHeader h1 {
  font-size: 48px;
  font-weight: normal;
  margin: 0;
}

.ArticleHeaderBlurb {
  font-size: 20px;
}

.ArticleBody {
  margin: 0 auto;
  max-width: min(80%, 600px);
  padding: 0 auto;
}






